# removing all of the code I have not written for this repo
nushell/completions/extern linguist-documentation
nushell/config.nu linguist-documentation

# setting some things to being detectable
*.md linguist-detectable
content/** linguist-detectable
data/** linguist-detectable
