# secret.json is TOP SECRET
secret.json

*.yml

# nuxtrc, removed because telemetry seed
.nuxtrc

# my scoop -- psssst
/scoop

# My histroy!
history.txt

# Just a lot of repo bloat
*/.hyper_plugins

# Ignore all nushell completions files that are extern
/nushell/completions/extern/*
!/nushell/completions/extern/mod.nu

# Ignore all nushell modules
/nushell/modules/*

# Ignore all nushell plugins
/nushell/plugin.msgpackz

# Ignore vim code for nvim
# /nvim/ftdetect
# /nvim/ftplugin
# /nvim/indent
# /nvim/syntax

# Ignore Godot logs
/Godot

# Do not upload databases
*.db
*.sqlite3
*.sqlite3-shm
*.sqlite3-wal

# Ignore my bookmarks (it is in the MessagePack format)
# it is also a binary file
bm.msgpack
bm.msgpackz

# don't add android stuff
/.android

# don't wanna share plug
/nvim/autoload/plug.vim
