# secret.json is TOP SECRET
secret.json

*.yml

# nuxtrc, removed because telemetry seed
.nuxtrc

# my scoop -- psssst
/scoop

# My histroy!
history.txt

# Just a lot of repo bloat
*/.hyper_plugins

# Ignore all nushell completions files that are extern
/nushell/completions/extern

# Ignore all nushell modules
/nushell/modules/*

# Ignore vim code for nvim
/nvim/ftdetect
/nvim/ftplugin
/nvim/indent
/nvim/syntax

# Ignore Godot logs
/Godot
